*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
