*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    min-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.food-picture {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: 300px;
}

